*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{ 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}
section .box{
   margin: 10px;
    position: relative;
    width: 200px;
    height: 200px;
}
section .box .img-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}
section .box .img-box img{
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    width: 100%;
    height: 100%;
 
   
}
section .box .img-box.active{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
   
    
}
section .box .img-box.active img{
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 60px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    transition: all 1s ease-in-out; 
}
section .box .img-box h3{
    opacity: 0;
    visibility: hidden;  
}
section .box .img-box.active h3{
    visibility: visible;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
}